<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartFlip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmartFlip.Properties.Settings>
            <setting name="ShowWindowTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TitleGlowSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TitleFontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="DefaultWindowOpacity" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AnimateWindowFlip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowFlipDuration" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AnimateBringWindowOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BringWindowOnTopDuration" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="AnimateWindowSelect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowSelectDuration" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AnimateAllOnSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimateWindowEntrance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowEntranceDuration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowButtonPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowButtonPanelReflection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TitleGlowColor" serializeAs="String">
                <value>#FF6495ED</value>
            </setting>
            <setting name="ScreenAmountUsed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseWinTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectOnWinReleased" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseShift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAlt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCtrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundOpacity" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>F9</value>
            </setting>
            <setting name="MouseTrigger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RegionLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RegionTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RegionWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RegionHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Key2" serializeAs="String">
                <value>F10</value>
            </setting>
            <setting name="UseCtrl2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseShift2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAlt2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnimateFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterAnimationDuration" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Experimental" serializeAs="String">
                <value>False</value>
            </setting>
        </SmartFlip.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
